.block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.button {
    background-color: rgb(91, 196, 91);
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 32px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}
  
.link {
    color: rgb(0, 0, 0);
    display: block;
    margin-top: 5px;
}